body{
    background-color: rgb(208, 181, 240);
    font-family: 'Segoe UI';
}
#title {
    width: 720px;
    background-color: rgb(208, 181, 240);
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid lightgray;
}
#div1 {
    width: 500px;
    background-color: rgb(208, 181, 240);
    margin-left: 322px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid lightgray;
    float: left;
}
#div2 {
    background-color: rgb(208, 181, 240);
    width: 220px;
    height: 229.5px;
    float: right;
    margin-right: 322px;
}
#div3 {
    background-color: rgb(208, 181, 240);
    width: 720px;
    padding: 10px;
    margin-left: 322px;
    margin-right: 322px;
    margin-top: 311.5px;
    border-radius: 10px;
}
p.introduce{
    font-size: 13px;
    font-weight: bold;
    margin: 15px;
}

h1 {
    color: black;
    text-align: center;
}
a {
    color: steelblue;
}
a:visited {
    color: darkblue;
}
table {
    border: 10;
    border-color: black;
    background-color: #D0B5F0;
    width: 720px;
    height: 300px;
    align-items: center;
    margin: auto;
}
